/*——————————————————————————————————————————————————————————————————————————————
/  Vertical Rhythm Overlay
——————————————————————————————————————————————————————————————————————————————*/
@mixin baseline_overlay( $increment-amount ) {
	position: relative;

	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
		content: '';
		display: block;
		pointer-events: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(transparent, transparent $increment-amount - 1, #f00) repeat-y;
		background-size: 100% $increment-amount;
	}
}

@mixin baseline_overlay_by_line_height() {

	@each $breakpoint-name, $line-height-unit in $responsive-line-height {

		@include breakpoint($breakpoint-name) {
			@include baseline_overlay($line-height-unit);
		}
	}
}
