@mixin color_bar($color) {
    position: relative;

    &, &:before, &:after {
        background-color: $color;
    }
    &:before, &:after {
        @extend %pseudo;
        width: 100vw;
        height: 100%;
        top: 0;
    }
    &:before {
        left: -100vw;
    }
    &:after {
        left: 100%;
    }

}