/*——————————————————————————————————————————————————————————————————————————————
/  Color Bar
——————————————————————————————————————————————————————————————————————————————*/
@mixin color_bar($color, $include_both: true) {
    position: relative;

    @if (true == $include_both) {
        background: $color;
    }
    &:before {
        background: $color;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 200vw;
    }
    &:before {
        left: -100vw;
    }
}