/*——————————————————————————————————————————————————————————————————————————————
/  Color Bar
——————————————————————————————————————————————————————————————————————————————*/
@mixin color_bar($color) {
    position: relative;

    &, &:before {
        background: $color;
    }
    &:before {
        @extend %pseudo;
        width: 200vw;
        height: 100%;
        top: 0;
    }
    &:before {
        left: -100vw;
    }
}