@mixin flexible_font_sizes( $min-font-size, $max-font-size, $min-width, $max-width ) {

	$font-size-difference: strip-unit($max-font-size - $min-font-size);
	$viewport-difference: strip-unit($max-width - $min-width);

	@media screen and #{breakpoint($min-width)} and #{breakpoint($max-width down)} {
		font-size: calc( #{$min-font-size} + #{$font-size-difference} * ( ( 100vw - #{$min-width} ) / #{$viewport-difference} ) );
	}

}