//——————————————————————————————————————————————————————————————————————————————
//  Full-width Image
//——————————————————————————————————————————————————————————————————————————————
@mixin full_width_img($position: 'center') {
	width: auto;
	min-width: 100%;
	max-width: $site-width;
	min-height: 100%;

	@if 'center' == $position {
		position: relative;
		top: 50%;

		@include css_by_breakpoint((
			default: (
				transform: translateX(-50%) translateX(50vw) translateY(-50%),
			),
			$site-width: (
				transform: translateX(-50%) translateX( #{$site-width / 2} ) translateY(-50%),
			)
		));
	}
	@if 'center-x' == $position {

		@include css_by_breakpoint((
			default: (
				transform: translateX(-50%) translateX(50vw),
			),
			$site-width: (
				transform: translateX(-50%) translateX( #{$site-width / 2} ),
			)
		));
	}
	@if 'center-y' == $position {
		position: relative;
		top: 50%;

		@include css_by_breakpoint((
			default: (
				transform: translateY(-50%),
			),
		));
	}
}