/*——————————————————————————————————————————————————————————————————————————————
/  Round Up Vertical Rhythm
——————————————————————————————————————————————————————————————————————————————*/
@mixin round_up_vertical_rhythm( $heights ) {

	$counter: 1;

	@each $breakpoint-name, $vr-unit in $vertical-rhythm-map {

		@if $counter > length($heights) {
			$counter: length($heights);
		}

		// Current Height
		$current-height: nth($heights, $counter);

		// Get the current vertical rhythm unit
		$current-vr: $vr-unit;

		// Compare the current height to the current vr unit
		$vr-multiplier: ceil(strip-unit($current-height) / strip-unit($current-vr));

		$total-height: $vr-multiplier * $current-vr;

		$difference: $total-height - $current-height;

		@include breakpoint($breakpoint-name) {
			margin-bottom: scut-rem($difference);
		}

		// Increment the counter
		$counter: $counter + 1;
	}
}