/*——————————————————————————————————————————————————————————————————————————————
/  Set Font Sizes and Line Heights By Tag
——————————————————————————————————————————————————————————————————————————————*/
@mixin set_responsive_font_sizes_and_line_heights_by_tag( $tag, $font-sizes-and-line-height-map: $header-sizes-and-line-heights ) {

	@each $breakpoint-size, $tags-map in $font-sizes-and-line-height-map {

		$font-size: map_fetch($tags-map, $tag fz);
		$current-vr-unit: map_get($vertical-rhythm-map, $breakpoint-size);
		$line-height-multiplier: map_fetch($tags-map, $tag lh);

		@include breakpoint($breakpoint-size) {
			font-size: rem-calc($font-size);

			@if (unitless($line-height-multiplier)) {
				line-height: rem-calc($current-vr-unit * $line-height-multiplier);
			} @else {
				line-height: $line-height-multiplier;
			}
		}
	}
}

