/*——————————————————————————————————————————————————————————————————————————————
/  Site Margin
——————————————————————————————————————————————————————————————————————————————*/
@mixin site_margin( $indent_or_outdent: 'indent', $properties: '' ) {

	$multiplier: 0;

	@if 'indent' == $indent_or_outdent {
		@if ( '' == $properties ) {
			$properties: (padding-left, padding-right);
		}
		$multiplier: 1;
	}
	@if 'outdent' == $indent_or_outdent {
		@if ( '' == $properties ) {
			$properties: (margin-left, margin-right);
		}
		$multiplier: -1;
	}

	@include do_something_over_breakpoints( $properties, $multiplier, $site-margin-map );
}
